<div class="container">
  <div class="container">
    <h1 class="text-center page-title" style="padding: 25px;">What We Do</h1>
  </div>
  <div class="container">
    <div class="row" style="height:200">
      <div class="col-md-3" style="padding: 25px; margin: 0 auto; background-color: #08AAB1;">
        <div class="card" style="background-color: #08AAB1; border-color: #08AAB1;">
          <img class="card-img-top" src="https://i.pinimg.com/originals/3e/50/10/3e5010acd206b91cffd6f50bf7d58ba4.jpg">
          <div class="card-body">      
            <p class="text-center" style="color: #FFFFFF">Find socially-conscious engineering jobs</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="padding: 25px; margin: 0 auto; background-color: #08AAB1;">
        <div class="card" style="background-color: #08AAB1; border-color: #08AAB1;">
          <img class="card-img-top" src="http://cdn2-www.dogtime.com/assets/uploads/gallery/pug-dog-breed-pictures/2-face.jpg"/>
          <div class="card-body">      
            <p class="text-center" style="color: #FFFFFF">Post a job position for engineers wanting to make a difference.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="padding: 25px; margin: 0 auto; background-color: #08AAB1;">
        <div class="card" style="background-color: #08AAB1; border-color: #08AAB1;">
          <img class="card-img-top" src="http://cdn3-www.dogtime.com/assets/uploads/gallery/poodle-dog-breed-pictures/thumbs/thumbs_mini-3.jpg"/>
          <div class="card-body">      
            <p class="text-center" style="color: #FFFFFF;">Read about fellow engineer's experiences about making the world a better place.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding: 25px;">
    <p>Whether it's working for a company with a strong mission statement of improving people's lives, saving animals, and conserving the natural environment, or finding a career that directly creates a social impact in building safer public, infrastucture, cleaner energy tools, or purified water, we provide a platform for engineers who want to merge their talent and technical skills with their personal values or passion to create a change for the better.
    </p> 
  </div>
</div>
