<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
      </div>
    </div>
    <div class="col-9">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
	   <p class="card-text">hello world</p>
	</div>
      </div>
    </div>
  </div>
</div>
