<div class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">About</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="https://tailandfur.com/wp-content/uploads/2016/10/40-Pictures-of-Cute-and-Funny-Husky-Faces-Feature-Image.jpg"/>
        <p class="text-center">Find socially-conscious engineering jobs</p>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="https://i.pinimg.com/originals/3e/50/10/3e5010acd206b91cffd6f50bf7d58ba4.jpg"/>
        <p class="text-center">Post a job position for engineers wanting to make a difference.</p>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="https://i1.wp.com/www.cutepuppiesnow.com/wp-content/uploads/2017/04/Cute_Husky_Puppies-6.jpg"/>
        <p class="text-center">Read about fellow engineer's experiences about making the world a better place.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non tellus in ex laoreet sagittis. Aenean scelerisque maximus justo in accumsan. Sed sed diam tristique, commodo sapien sed, lacinia purus. Duis ultricies tempor augue, id dictum eros consectetur quis. Nunc a nulla id odio vulputate euismod. Quisque interdum enim sed erat rutrum gravida. Fusce a diam blandit, tristique ante sit amet, mattis augue. Praesent a sapien neque. Ut et fringilla est. Duis turpis nunc, volutpat at odio sit amet, tincidunt vestibulum lorem. In viverra enim nec arcu bibendum, nec egestas ante euismod.</p>
      </div>
    </div>
  </div>
</div>
