<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{!--<div class="collapse navbar-collapse" id="navbarNav">--}}
    {{!-- Content to the left side of the navbar --}}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {{#if_equals current_page "admin_about"}}active{{/if_equals}}"" href="/admin_about">Admin About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if_equals current_page "admin_jobs"}}active{{/if_equals}}"" href="/admin_jobs">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if_equals current_page "admin_stories"}}active{{/if_equals}}" href="/admin_stories">Stories</a>
      </li>
    </ul>

    {{!-- Content to the right side of the navbar --}}
    <ul class="navbar-nav ml-auto">
      {{!-- Show 'Sign In' or 'Sign Out' based off of logged in status --}}
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Sign Out</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link {{#if_equals current_page "login"}}active{{/if_equals}}" href="/login">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if_equals current_page "register"}}active{{/if_equals}}" href="/register">Sign Up</a>
      </li>
      {{/if}}
    </ul>
</nav>

{{#if_equals current_page "admin_about"}}
<ul class="navbar-nav ml-auto"
        <li class="nav-item">
            <a class="nav-link" href="/admin_about">Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#clients">Clients</a>
        </li>
    </ul>

{{else}}
<div class="bg-light sidenav navbar-light">
    <ul class="navbar-nav ml-auto"
        <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#clients">Clients</a>
        </li>
    </ul>
</div>
{{/if_equals}}
