<div class="admin-current-jobs">
  <h3 class="story-title">List of Current Jobs</h2>
  <div class="list-group">
    {{#each jobs}}
    <button type="button" class="list-group-item list-group-item-action">
      <div class="current-box">
        <h4>{{this.company_name}}</h3>
        <p>{{this.position}}</p>
        <p>{{this.location}}</p>
      </div>
      <div class="icon-box">
        <a class="icon">
          <i class="far fa-edit fa-lg"></i>
        </a>
        <p class="icon-padding">            </p>
        <a class = "icon">
          <i class="fas fa-trash fa-lg"></i>
        </a>
      </div>
    </button>

    {{/each}}
  </div>
</div>

<!-- Pagination -->
{{>pagination}}