<div class="admin-current-story">
  <h3 class="story-title">List of Current Resources</h2>
  <div class="list-group">
    {{#each stories}}
    <button type="button" class="list-group-item list-group-item-action">
      <div class="current-box">
        <h4>{{title}}</h3>
        <p>{{description}}</p>
      </div>
      <div class="icon-box">
        <a href="/edit_story"><i class="far fa-edit fa-lg"></i></a>
        <p class="icon-padding">      </p>
        <i class="fas fa-trash fa-lg"></i>
      </div>
    </button>

    {{/each}}
  </div>
</div>

<!-- Pagination -->
{{>pagination}}
