<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin_home">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    {{!-- Content to the left side of the navbar --}}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{#if_equals current_page "admin_about"}}active{{/if_equals}}" href="/#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Preview Home</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/">Preview</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{#if_equals current_page "admin_about"}}active{{/if_equals}}" href="/#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Edit</a>
          <a class="dropdown-item" href="/about">Preview</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{#if_equals current_page "admin_jobs"}}active{{/if_equals}}" href="/#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jobs</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">New</a>
          <a class="dropdown-item" href="/admin_current_jobs">Current</a>
          <a class="dropdown-item" href="#">Archive</a>
          <a class="dropdown-item" href="/jobs">Preview</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{#if_equals current_page "admin_stories"}}active{{/if_equals}}" href="/#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Stories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/admin_discover_new">New</a>
          <a class="dropdown-item" href="/admin_current_stories">Current</a>
          <a class="dropdown-item" href="#">Archive</a>
          <a class="dropdown-item" href="/stories">Preview</a>
        </div>
      </li>
    </ul>

    {{!-- Content to the right side of the navbar --}}
    <ul class="navbar-nav ml-auto">
      {{!-- Show 'Sign In' or 'Sign Out' based off of logged in status --}}
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Sign Out</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link {{#if_equals current_page "login"}}active{{/if_equals}}" href="/login">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if_equals current_page "register"}}active{{/if_equals}}" href="/register">Sign Up</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
