<header class="masthead" style="background-image:url(https://dogzone-tcwebsites.netdna-ssl.com/wp-content/uploads/2014/01/4_tips_cute_dog_names.jpg)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1 style="font-weight: 800;">Welcome</h1>
          <h2 class="subheading" style="font-weight: 800;">Edit or Add content using the links above</h2>
        </div>
      </div>
    </div>
  </div>
</header>