<div class="container" style="padding:25px;">
  <form>
    <div class="form-group">
      <label for="upload_photo">Upload Logo Photo</label>
      <input type="file" class="form-control-file" id="upload_photo" required>
    </div>
    <div class="form-group">
      <label for="name">Company Name</label>
      <input type="text" class="form-control" id="name" required/>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input type="text" class="form-control" id="position" required/>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" required/>
    </div>
    <div class="form-group">
      <label for="field">Field</label>
      <input type="text" class="form-control" id="field" required/>
    </div>
    <div class="form-group">
      <label for="experience">Required Experience</label>
      <input type="text" class="form-control" id="experience" required/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required/>
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
    <div class="form-group">
      <label for="icon">Icon</label>
      <select class="form-control" id="icon">
        <option value="fas fa-rocket">&#xf135; Rocket</option>
        <option>&#xf0c3; Flask</option>
        <option>&#xf21e; Biology</option>
        <option>&#xf121; Code</option>
        <option>&#xf108; Desktop</option>
        <option>&#xf1e6; Plug</option>
        <option>&#xf085; Cogs</option>
        <option>&#xf06c; Leaf</option>
        <option>&#xf1ad; Building</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
</div>
