<div class="container page-header" style="padding-top: 50px;">
  <div class="col col-sm-12 col-md-6 col-stack mx-auto">
    <div class="form-signin panel panel-default clearfix signin-panel">
      <h3><p>Please <strong>Login</strong> or <strong>Register</strong></p></h3>

      <form role="form" action="/login" method="post">

        <div class="form-group" id="username">
          <input class="form-control" placeholder="Username"
               type="text"
               name="username" required/>
        </div>

        <div class="form-group" id="password">
          <input class="form-control" placeholder="Password" type="password"
               name="password" required/>
        </div>

        <div class="form-group" id="submit">
          <button class="btn pull-right bg-light" id="btn-login" type="submit">Login</button>
        </div>

      </form>
      <div>
        <p>Don't have an account? Register one <a href="/register">here</a>!
      </div>
    </div>
  </div>
</div>
