<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#if_equals page_prev null}}disabled{{/if_equals}}">
      <a class="page-link" href="/{{url}}?p={{page_prev}}" tabindex="-1">&laquo;</a>
    </li>
    <li class="page-item {{#if_equals page_next null}}disabled{{/if_equals}}">
      <a class="page-link" href="/{{url}}?p={{page_next}}">&raquo;</a>
    </li>
  </ul>
</nav>
