<div class="title">
  <h2 class="story-title"> Testimonials and Resources <h2>
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="http://trupanion.com/blog/wp-content/uploads/2017/09/GettyImages-512536165.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Article Title</h5>
        <p class="card-text">This article will have a picture.  It can have a description as well.</p>
        <p class="card-text"><small class="text-muted">This is where the time stamp would be</small></p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p class="card-text">This could be a quote someone has said in industry.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Said by <cite title="Source Title">A User</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://cdn.akc.org/Marketplace/Breeds/Pembroke_Welsh_Corgi_SERP.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Article Title</h5>
        <p class="card-text">This card will have a picture and description.</p>
        <p class="card-text"><small class="text-muted">This is where the time stamp would be</small></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p class="card-text">This could be a quote someone has said that you would like to post.</p>
        <footer class="blockquote-footer">
          <small>
            Someone famous in <cite title="Source Title">Industry</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Title of Article</h5>
        <p class="card-text">This would represent an article without a picture.  So a desciption could go here.</p>
        <p class="card-text"><small class="text-muted">This is where the timestamp would be</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="http://cdn3-www.dogtime.com/assets/uploads/gallery/pembroke-welsh-corgi-dog-breed-pictures/prance-8.jpg" alt="Card image">
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p class="card-text">This could be a quote someone has said that you would like to post.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Industry</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://cdn.akc.org/Marketplace/Breeds/Pembroke_Welsh_Corgi_SERP.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Article Title</h5>
        <p class="card-text">This card will have a picture and description.</p>
        <p class="card-text"><small class="text-muted">This is where the time stamp would be</small></p>
      </div>
    </div>
  </div>
</div>
