<div class="card-deck">
  {{#each stories}}
  <div class="card">
    <a href="/story">
      <img class="card-img-top" src={{story_img}} alt="I love corgis!">
    </a>
    <div class="card-footer bg-transparent">
      <h6 class="card-title">{{title}}</h6>
    </div>
  </div>
  {{/each}}
</div>
