.story-card-deck {
  max-width: 1000px;
  margin: 0 auto;
}

.story-card {
  border-radius: 30px;
  border-style: solid;
  border-color: #e9ecef;
}

.story-card-no-img {
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: transparent;
  border-radius: 30px;
  margin: 25px;
  width: 20rem;
  height: 20rem;
  border-style: solid;
  border-radius: 30px;
}

.story-title {
  text-align: center;
  margin: 10px;
  padding-top: 20px;
}

.story-text {
  font-size: 50%;
  text-align: center;
}

.story-title-no-img {
  margin-top: 35%;
  text-align: center;
  align-items: center;
}

.story-text-no-img {
  text-align: center;
  align-items: center;
}

.card-img-container {
  min-height: 220px;
}

.card-img-top {
  border-radius: 30px 30px 0px 0px;
}

.content {
  position: relative;
  padding: 50px 25px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99.5%;
  width: 99%;
  right: 0.15rem;
  bottom: 0;
  opacity: 0;
  border-radius: 30px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

.current-box {
  display:inline-block;
  padding-left: 5%;
}

.icon-box {
  float: right;
  padding-right: 5%;
}

.icon-padding {
  padding-bottom: 5px;
}

.list-group {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
}
